nav {
    @include media("<=desktop") {
        padding: 0;

        #nav_text_collapse {
            background: $black;

            .nav-item {
                border-bottom: 1px solid $white;

                .nav-link {
                    padding: 1rem 3%;
                    text-align: right;

                    &:hover {
                        color: $red;
                    }

                    &.nuxt-link-active {
                        background-color: $white !important;
                        color: $black;
                    }
                }

                &:last-child {
                    border: none;
                }
            }
        }
    }

    >.container {
        @include media("<=desktop") {
            max-width: 100% !important;

            .navbar-brand {
                margin-left: 3%;
            }
        }
    }



    // Custon navbar toggler
    // .navbar-toggle {
    //     border: 0;
    //     padding: 15px;
    //     margin: 0;
    //     height: 50px;
    //     border-radius: 0;
    //     background: #16a085 !important;
    // }

    // .icon-bar {
    //     transition: all .3s;
    //     background: $white !important;
    //     // height: 3px!important;
    // }

    // .top-bar {
    //     // transform-origin: 45%;
    //     transform: translateY(6px) rotate(45deg);
    // }

    // .middle-bar {
    //     opacity: 0;
    //     // transform: translateX(-100%);
    // }

    // .bottom-bar {
    //     // transform-origin: 40%;
    //     transform: translateY(-6px) rotate(-45deg);
    // }

}
